<!DOCTYPE html>
<html lang="en">
<nav class="navigation">
    <% if (user){ %>
        <%- user; %>
    <% } %>
    <div class="login-form">
        <form action="/login" method="POST">
            <input name="username" type="text" placeholder="username">
            <input name="password" type="text" placeholder="password">
            <button type="submit">Login</button>
        </form>
    </div>
</nav>