<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="posts">
    <% for (let i = 0; i < posts.length; i++) { %>
        <div class="post">
            <% let post = posts[i]; %>
            <% const comment_postID = post.postID; %>
            <span>
            <%= post.username; %>
            </span>
            <span>
            <%= post.content; %>
            </span>
            <% let comments = post.comments %>
            <% for (let i = 0; i < comments.length; i++) { %>
                <span>
                <%= comments[i].content; %>
                </span>
            <% } %>
            <div class="comment-form">
                <form id="c-form" action="/comment/new" method="POST">
                    <input name="comment_postID" type="hidden" value="<%= `${comment_postID}` %>">
                    <input name="content" type="text" placeholder="What do you want to comment?">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    <% } %>
</div>
</body>
</html>